* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
}

nav {
    background-color: rgb(153, 186, 186);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    background-color: transparent;
    text-decoration: none;
}

nav a {
    color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}
.link-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.link {
    display: flex; /* Ustawiamy rodzica jako kontener flexbox */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 25px;
    padding: 10px;
}

.link a {
    display: flex; /* Ustawiamy a (link) jako kontener flexbox */
    align-items: center; /* Wyśrodkowanie w pionie */
    color: white;
}

.link i {
    margin-right: 5px; /* Odstęp między ikoną a tekstem */
    font-size: 24px;
    color: rgb(255, 255, 255);
}
  
#contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px ;
}
